<!-- Header on Mobile Screen -->
<nav class="navbar d-block d-sm-block d-md-block d-lg-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="landing-artparkett.html">
      <span class="text-primary flex-shrink-0 me-2">
          <img src="{{ 'assets/images/parkett-stelzl-lilie.svg'|theme }}" alt="" width="35" height="32">
      </span>Parkett Stelzl</a>
    </a>
    <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
        <input class="form-check-input" type="checkbox" id="theme-mode">
        <label class="form-check-label" for="theme-mode"><i class="ai-sun fs-lg"></i></label>
        <label class="form-check-label" for="theme-mode"><i class="ai-moon fs-lg"></i></label>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <!-- OffCanvas Header -->
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title">Menü</h5>
        <button class="btn-close" type="button" data-bs-dismiss="offcanvas"></button>
      </div>
      <!-- OffCanvas Body -->
      <div class="offcanvas-body">
        <ul class="nav flex-column mt-n2">
          <li class="nav-item">
            <a href="landing-artparkett.html" class="nav-link px-0 py-2 active">Home</a>
          </li>
          <li class="nav-item">
            <a href="landing-artparkett.html" class="nav-link px-0 py-2">User Profile</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 py-2">Services</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 py-2">Our Works</a>
          </li>
          <li class="nav-item">
            <a href="about-artparkett.html" class="nav-link px-0 py-2">Über uns</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 py-2">Our Team</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 py-2">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 py-2">Contacts</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-0 py-2">Help Center</a>
          </li>
        </ul>
      </div>

      <!-- OffCanvas Footer -->
      <div class="offcanvas-header d-flex border-top">
        <button class="btn btn-outline-primary w-100 me-2" data-bs-toggle="modal" data-bs-target="#requestModal" type="button">
          <i class="ai-login me-1"></i>
          Anfrage stellen
        </button>
      </div>
    </div>
  </div>
</nav>
<!-- Header on Large Screens -->
<header>
  <div class="navbar navbar-expand-lg d-none d-lg-block d-xl-block d-xxl-block border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a class="navbar-brand d-flex align-items-center mb-3 mb-lg-0 me-lg-auto" href="landing-artparkett.html">
        <span class="text-primary flex-shrink-0 me-2">
          <img src="{{ 'assets/images/parkett-stelzl-lilie.svg'|theme }}" alt="" width="60" height="60">

        </span>Parkett Stelzl</a>
      <div class="col-auto">
        <div class="align-items-center d-inline-flex gap-2 gap-lg-3 py-1">
          <a href="#" class="align-items-center d-inline-flex gap-2 lh-1 text-decoration-none"> <span class="bg-primary lh-1 p-2 rounded text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em">
                <path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z" />
              </svg> </span>
            <div class="d-lg-block d-none">
              <div class="mb-1 small text-black-50">Rufen Sie an:</div>
              <div class="fw-bold">089 744 95 130</div>
            </div>
          </a>
          <a href="#" class="align-items-center d-inline-flex gap-2 lh-1 text-decoration-none"> <span class="bg-primary lh-1 p-2 rounded text-white"> <svg viewBox="0 0 24 24" fill="currentColor" width="1.25em" height="1.25em">
                <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
              </svg> </span>
            <div class="d-lg-block d-none">
              <div class="mb-1 small text-black-50">Unsere Ausstellung</div>
              <div class="fw-bold">Forstenrieder Allee 195, München</div>
            </div>
          </a>
          <div class="form-check form-switch mode-switch order-lg-2 me-3 me-lg-4 ms-auto" data-bs-toggle="mode">
            <input class="form-check-input" type="checkbox" id="theme-mode">
            <label class="form-check-label" for="theme-mode"><i class="ai-sun fs-lg"></i></label>
            <label class="form-check-label" for="theme-mode"><i class="ai-moon fs-lg"></i></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar py-3 d-none d-lg-block d-xl-block d-xxl-block ">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto" style="margin-left: -20px;">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services</a>
          <ul class="dropdown-menu">
            <li><a href="#" class="dropdown-item">Action link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Action link</a></li>
                <li><a href="#" class="dropdown-item">Another action</a></li>
                <li><a href="#" class="dropdown-item">Something else here</a></li>
                <li><a href="#" class="dropdown-item">Yet another link</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="dropdown-item">Another action</a>
            </li>
            <li class="dropdown-divider"> </li>
            <li href="#"><a class="dropdown-item">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="about-artparkett.html" class="nav-link">Wir über uns</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Ausstellung</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Galerie</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestModal">Anfrage
            stellen</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
